.chord {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  margin-top: 5%;
}

.playChordWrapper {
  width: 20%;
  margin: 0 auto;
  text-align: center;
}
