.box {
  display: flex;
  margin: 2px 2px;
  width: 20%;
  height: 50px;
  border: 1px solid lightgrey;
  border-radius: 10%;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  transition: background-color 0.5s;
}

.box:hover {
  background-color: lightgray;
}

.box span {
  font-size: 0.8rem;
}
