html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f3f3f3;
  font-family: "Franklin Gothic Medium", "Franklin Gothic",
    "ITC Franklin Gothic", Arial, sans-serif;
}

#root {
  height: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
